@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color-Day);
    font-family: 'Kanit', sans-serif;
    font-style: normal;
}

:root {
    --background-dayMode: #dadcde;
    --text-color-Day: #16191f;
    --blue-sky: #0466c8;
    --fasion: white;
    --spacing-small: 5px;
    --spacing-medium: 10px;
    --spacing-large: 20px;
}
.up{
    position: relative;
}
.up-container{
    position: absolute;
    padding: 15px 20px;
    background-color: var(--fasion);
    bottom:50px;
    right:50px ;
    position: fixed;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    border-radius: 5px;
    text-decoration: none;
    transition: .3s;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}
.up-container:hover{
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    transform: rotate(0deg) scale(1.15);
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    position:relative;

}
.cart-container {
    width: 100vw;
    height: 75vh;
    z-index: 500000000000;
    height: 0;
    transition: height 0.3s ease;
    position: absolute;
    transition: .3s;
    display: none;
}

.cart-view{
    background-color: var(--fasion);
    width: 30vw;
    height: 75vh;
    position: fixed;
    TOP: 200PX ;
    right: 0;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly  ;
    align-items: center;
    overflow: scroll;
    flex-direction: column;
    padding: 25PX;
    transition: .3s;
}
@media screen and (max-width:800px) {
    .cart-view{
        width:100vw
    }
}
.product-view{
    width: 100%;
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    flex-direction: column;
}

.products {
    margin-top: 50px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
@media screen and (max-width:600px) {
    .product-view img{
        width: 25PX;
        border-radius: 50%;
    }
    .card{
        width: 200px;
        height: 350px;
    }
}
.card {
    background-color: var(--fasion);
    width: 250px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-style: none;
    border-radius: 10px;
    margin: 10px;
  
    font-weight: 400;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card .img-container {
    position: relative;
    max-width: 85%;
    max-height: 225px; 
    background-color: #f0f0f0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card-txt {
    margin-top: 5px;
}

.card-NAME {
    width: 90%;
}

.card:hover {
    transform: rotate(0deg) scale(1.1);
    z-index: 5;
    border-style: solid;
    border-width: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index: 500;
}

.product-name {
    margin: 10px;
}

.categInfo {
    width: fit-content;
    color: var(--fasion);
    background-color: var(--text-color-Day);
    position: absolute;
    transform: translateX(-50%);
    padding: 15px 20px;
    border-radius: 10px;
    bottom: -25px;
    left: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.card-txt a {
    background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA 51%, #1D2B64 100%);
    width: 50%;
    margin: 10px;
    padding: 10px 0px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.card-txt a:hover {
    cursor: pointer;
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.price {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-weight: 900;
}

.pr-d {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cart img{
    height: 25px;
    margin-right: 5px;
}
.cart {
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-weight: 900;

}
.cart-buy{
    height: 25px;
}
.product-done{
    display: none;
    height: 25px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-weight: 900;
    text-align: center;
}
.product-ch img{
    width: 125px;
    border-radius: 15px;
}
.product-ch{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    background-color: var(--background-dayMode);
    padding: 10px;
    border-radius: 15px;
}

.ch-btn{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;
}
.ch-btn button,.pr-d button{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.checkOut {

    bottom: 0;
    right: 0;
    background-color: #f8f8f8;
    padding: 10px;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    text-align: center;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 800;

}
.check-out-btn{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 20px;

}




 button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
  margin: 5px;
}

@media (min-width: 768px) {
  .ch-btn button {
    padding: 0.25em 0.75em;
  }
 
}
.number-of-product{
    margin:10px
}
body {
    overflow-x: hidden;
}
.alert {
    padding: 20px;
    background-color: #4CAF50; 
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
    display: none; 
    position: fixed;
    left: 40%;
    margin-top: 50px;
    z-index: 50000;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
.cart:hover{
    cursor: pointer;
}


.cart-count {

    margin-bottom: 15px;
    margin-right: 5px;
    background-color: var(--blue-sky);
    color: white;
    font-size: 0.75rem;
    padding: 2px 6px;
    border-radius: 50%;
  }